<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mis primeras comidas</title>
  </head>
  <body>

  <header>
    <img src="/images/blw.webp" alt="Logo" />

    <nav>
      <ul>
        <li><a href="#">¿Que es BLW?</a></li>
        <li><a href="#">Desayuno y Merienda</a></li>
        <li><a href="#">Almuerzo y cena</a></li>
        <li><a href="#">Menus</a></li>
        <li><a href="#">Postres</a></li>
      </ul>
    </nav>
  </header>

    <main>
      <h1>Bienvenido a la alimentacion complementaria</h1>
      <p>
        La alimentación del bebé durante el primer año es muy importante para su
        desarrollo y de los padres depende que su hábito alimenticio en el
        futuro sea saludable.
      </p>

      
    </main>

    <footer>
      <ul>
        <li><a href="#">Ariba</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Redes Sociales</a></li>
      </ul>
    </footer>

  </body>
</html>
